<!DOCTYPE html>
{% extends 'app/base.html'%}
{%block body_block%}
<br>
<h1 style="color:white;">Employee Edit</h1>
<a href='http://127.0.0.1:8000/' style="color: white; font-size: small;">home</a></td>

<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold" style="color: white;font-size: medium;">
<th >Emp Id</th>
<th > Name</th>&nbsp
<th >Phone</th>
<th > Email</th>

<tr>
  </thead>
<form  method="post">
  {%csrf_token%}
 <td><input type="number" name="empid" value="{{employee.empid}}"></td>
 <td> <input type="text" name="name" value="{{employee.name}}"></td>
<td><input type="number" name="phone" value="{{employee.phone}}"></td>
<td><input type="number" name="age" value="{{employee.age}}"></td>
  <td><input type="email" name="email" value="{{employee.email}}"></td>
  
  <td><input type="submit" name="" class='btn btn-info btn-lg' value="Update Record"></td>
</form>
</tr>
</table>
<br>
<br>
<div ng-app="myApp" ng-controller="MyController">
  <div ng-if=[[res]]>
    <h3 class=[[classStyle]] role="alert" id="alt">[[msg]]</h3>
  </div>
</div>
<script>
  var myApp = angular.module("myApp", []);
      myApp.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
      });
      myApp.controller("MyController", ["$scope", function($scope) {
      $scope.msg = "{{msg}}";
      $scope.classStyle = "{{classStyle}}";
      $scope.res = "{{res}}"
      setTimeout(function(){ document.getElementById("alt").style.display = 'none' }, 1000);
      }]);
  </script>
{%endblock%}
